<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img src="/images/logo.png" alt="logo">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sản Phẩm  
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Timo MasterCard</a>
              <a class="dropdown-item" href="#">Bảo mật</a>
              <a class="dropdown-item" href="#">Chuyển tiền</a>
              <a class="dropdown-item" href="#">Goal Save</a>
              <a class="dropdown-item" href="#">Gửi tiết kiệm</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ưu Đãi
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Timo Hangout</a>
              <a class="dropdown-item" href="#">Giảm giá</a>
              <a class="dropdown-item" href="#">Quà tặng</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cộng Đồng Timo
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Hỏi / Đáp</a>
              <a class="dropdown-item" href="#">Video Timo</a>
              <a class="dropdown-item" href="#">Blogs</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Đăng Nhập</a>
          </li>
          <div class="thamgia">
              <a href="/signup">Tham Gia Ngay</a>
          </div>
          <li class="nav-item">
              <a class="nav-link" href="#">EN / VN</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="left">
              <h1 id="title">Ngân Hàng Số<br> Thế Hệ Mới</h1>             
              <p>Kiểm soát tài chính cá nhân 24/7, an toàn bảo mật<br /> 
                 Đăng ký nhanh chỉ trong 3 phút.<br />  </p>  
                 <div class="thamgiangay">
                    <a href="/signup">THAM GIA NGAY</a>
                </div>
          </div>                               
        </div>
        <div class="col-md-6">
          <div class="banner">
              <img src="/images/banner.png" alt="banner">
          </div>
          </div>
      </div>
    </div>
    <div class="brand">
      <div class="row">
        <div class="col-md-2 fixbrand">
          <img src="images/CNBC.png" alt="">
        </div>
        <div class="col-md-2 fixbrand">
          <img src="images/ELLE.png" alt="">
        </div>
        <div class="col-md-2 fixbrand">
          <img src="images/Forbes.png" alt="">
        </div>
        <div class="col-md-2 fixbrand">
          <img src="images/dantri.png" alt="">
        </div>
        <div class="col-md-2 fixbrand">
          <img src="images/tuoitre.png" alt="">
        </div>
        <div class="col-md-2 fixbrand">
          <img src="images/HTV.png" alt="">
        </div>
      </div>
    </div>
  </body>
</html>
