@import url('/javascripts/fa-svg-with-js.css');
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.thamgia{
  padding-top: 2px;
  margin-top: 7px;
  height: 30px;
  width: 145px;
  background-color: #5fbaff;
  border-radius:  5px;
  text-align: center;
  font-size: 18px;
  font-family: 'open_sansregular',"Helvetica Neue",Helvetica,Arial,sans-serif
}
.thamgia a{
  color: white;
}
.thamgia a:hover{
  text-decoration: none;
  color: lightslategray;
}
.banner img{
  margin-top: 50px;
  width: 600px;
  height: 487px;
}
#title{
  font-size: 60px;
  font-family: 'open_sansregular',"Helvetica Neue",Helvetica,Arial,sans-serif
}
.left{
  padding-left: 125px;
  padding-top: 90px;
  font-size: 22px;
  color: #533d8a;
  font-family: 'open_sansregular',"Helvetica Neue",Helvetica,Arial,sans-serif
}
.thamgiangay{
  height: 40px;
  width: 300px;
  background-color: #533d8a;
  border-radius:  3px;
  text-align: center;
  font-size: 18px;
  padding-top: 8px;
  font-family: 'open_sansregular',"Helvetica Neue",Helvetica,Arial,sans-serif
}
.thamgiangay a:hover{
  color: lightslategray;
  text-decoration: none;
}
.thamgiangay a{
  color: white;
}
.brand{
  background-color: #cdcfd0;
  width: 100%;
  height: 70px;
  padding-top: 7px;
  padding-right: 15px;
}
.fixbrand img{
  width: 110px;
  height: 60px;
}
#bgr{
  height: 701px;
  width: 100%;
  position: relative;
}
.center{
  position: absolute;
  left: 50%;
  top: 50%;
}
.bgr-left{
  background-color: #432a66;
  color: #897a9f;
  height: 376px;
  width: 263px;
  margin-left: -430px;
  margin-top: -275px;
}
.right{
  background-color: white;
  width: 399px;
  height: 410px;
  margin-left: -40px;
  margin-top: -395px;
  box-shadow: 0px 11px 40px 0px black;
}
.form-group{
  width: 250px;
  height: 45px;
  border-radius: 3px;
}
.fixform{
  padding-top: 50px;
}
.boxsignup{
  position: absolute;
  background-color: white;
  width: 399px;
  height: 410px;
  top: 20%;
  left: 35%;
}
.signupform{
  position: absolute;
  width: 250px;
  height: 45px;
  border-radius: 3px;
  top: 35%;
  left: 20%;
}
.btn{
  background-color: #432a66;
  color: white;
  width: 250px;
  height: 45px;
}
.btn a{
  color: white;
}
.btn a:hover{
  color: violet;
  text-decoration: none;
}
.bot{
  padding-top: 20px;
}
.bot a{
  color: #888;
}
.bgr-left{
  padding-top: 70px;
}
.btn-join{
  background-color: transparent;
  color: white;
  height: 50px;
  width: 220px;
  border: 1px solid white;
  border-radius: 25px;
  padding-top: 6px;
}
.btn-join :hover{
  text-decoration: none;
  color: white;
}
.btn-join a{
  color: white;
}
#icontop{
  height: 100px;
  width: 100px;
}
.pictop{
  width: 100%;
  height: 200px;
  position: relative;
}
.navbar{
  background-color: #543a99;
  width: 100%;
}
.navbaruser a{
  color: white;
  font-style: italic;
  font-size: 14px;
}
.navbaruser a:hover{
  color: whitesmoke;
  font-family: 'open_sansregular',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.menuoption{
  position: absolute;
  left: 50%;
  top: 50%;
}
.box{
  margin-top: 20px;
  border: 1px solid #e1e1e1;
  width: 700px;
  height: 153px;
}
.fixword{
  color: #888888;
  padding-top: 10px;
  padding-left: 10px;
}
.scope{
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding-top: 15px;
  padding-left: 4px;
}
.scope i:hover{
  color: #7e50b0;
  background-color: #7e50b0;
}

